/* header part designed in the post_share.css file */
:root{
    --color: rgb(75, 189, 0);
}
#logo_img{
    /* background-color: white; */
    margin-right: 10px;
    border-radius: 10px;

}
.content{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color:rgb(219 219 219 / 32%);
  height: 600px;
  margin: 0px;
  position: sticky;
}
#person_name{
    margin-top: 30px;
    margin-bottom: 10px;
}
#line{
    background-color: rgb(202, 202, 202);
    height: 1px;
}

li a{
    color: black;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
.adjust{
    margin: 0px;
}

.btn_position{
    border: 1px dashed #a5a5a5;
    height: 200px;
    width: 300px;
    border-radius: 30px;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main post area part start from here */
.post_area{
    border: 1px solid red;
    height: fit-content;
    padding-left: 20px;
}
.post_button_area{
    height: 40px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}
.post_button{
    height: 100%;
    border: 1px solid rgb(255, 0, 255);
}
